.box{
    height: 100vh;
    background-image: url("/public/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    height: 100%;
    background-color: rgba(255,255,255,0.3);
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 16px;
}
.span{
    margin-right: 5px;
}
.input {
    width: 80%;
}
.select {
   margin-right: 5px;
}
.textarea {
    width: 70%;
}