.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 16px;
}
.span{
    margin-right: 5px;
}
.input {
    width: 80%;
}
.select {
   margin-right: 5px;
}
.textarea {
    width: 70%;
}